.mainInfo{
    padding-top: 160px;
    padding-bottom: 190px;
}
.mainInfo_article{
    width:100%  !important;
    display: flex;
    justify-content: space-between;
}
.w50per{
    width:50% !important;
}
.mainInfo_titleBox{
    width: 180px; 
    border: 1px solid white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0 30px 30px 0;
}
.mainInfo_h1{
    margin-bottom: 50px;
}
.margin0px{
    margin: 0px;
}
@media (max-width:1500px) { 
    .title_h1{
        font-size: calc(100vw * (80 /1500));
    }
    .mainInfo_article>div{
        width: 100%;
        text-align: left;
    }
    .marginTop150px{
        margin-top: 40px;
    }

  }
@media (max-width:1024px) {
    
    .title_h1{
        font-size: calc(100vw * (80 / 1300));
    }
    .mainInfo_article{
        display: block;
    }
    .mainInfo_article>div{
        width: 100% !important;
        text-align: center;
    }

}
@media (max-width:820px) {
    .mainInfo_article>div{
        text-align: center;
    }
    .title_h1{
        font-size: calc(100vw * (50 / 820));
    }
    .fontSize18_p{
        font-size: calc(100vw * (18 / 820));
    }
    .mainInfo_titleBox{
        font-size: calc(100vw * (20 /820));
    }
    .mainInfo_h1{
        margin-bottom: 150px;
    }
}
@media (max-width: 480px) {
    .mainInfo_article>div{
        text-align: center;
    }
    .title_h1{
        font-size: calc(100vw * (50 / 480));
    }
    .fontSize18_p{
        font-size: calc(100vw * (18 / 480));
    }
    .mainInfo_titleBox{
        width: 120px;
        font-size: calc(100vw * (20 / 480));
    }
}