.programAticle {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.programAticle:first-child{
  padding-right: 200px;
}
.programAticle p:first-of-type {
  margin-top: 20px;
}
.programAticle p{
  line-height: 1.5;
}
.programImgbox img{
  width: 100%;
  height: 534px;
}
.bannerArrow {
  padding: 35px 50px;
  width: 50px;
  height: 50px;
  background-size: contain;
}
.rollingBanner {
  display: flex;
  width: 200%;
  white-space: nowrap;
  height: 120px;
  line-height: 116px;
  background-color: yellow;
  animation: infiniteAnimation1 30s linear 0s infinite normal;
}
.Clone{
  animation: infiniteAnimation2  30s linear 0s infinite normal;
}
@keyframes infiniteAnimation1 {
  0% {
      transform: translateX(0%);
  }
  50% {
      transform: translateX(-100%);
  }
  50.1% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0%);
  }
}
@keyframes infiniteAnimation2 {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-200%);
  }
}
.bannerWrap{
  position: absolute;
  display: flex;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.banner{
      display: flex;
      padding: 0, 1.25rem;
}
.bannerTxtWhite {
  font-size: 35px;
  font-weight: bold;
  margin-right: 50px;
}

.bannerTxtBlack {
  font-size: 35px;
  font-weight: bold;
  color: #000;
  margin-right: 50px;
}
.slideBox{
  position: absolute;
  top:0;
}

.stickyBox{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300vh;
  margin-bottom: 200px;
}
.sticky2{
  position: sticky;
  height: 534px;
  top:200px;
  overflow: hidden;
}

.up1{
  transition: 1.5s ease;
  transform: translateY(-25%);
}
.up2{
  transition: 1.5s ease;
  transform: translateY(-50%);
}
.up3{
  transition: 1.5s ease;
  transform: translateY(-75%);
}
.down1{
  transition: 1.5s ease;
  transform: translateY(-50%);
}
.down2{
  transition: 1.5s ease;
  transform: translateY(-25%);
}
.down3{
  transition: 1.5s ease;
  transform: translateY(0%);
}

@media (max-width:1540px) {
  .w1500{
      width: 90% !important;
      margin: 0 auto;
  }
    .title_h1 {font-size: calc(100vw * (80/1500));}
    .title_h2 {font-size: calc(100vw * (40/1500));}
    .programImgbox img{height:calc(534px * 0.8);}
    .fontSize20_p{
      word-wrap: break-word;
    }
    .sticky2{
      height:calc(534px * 0.7);
      top:200px;
    }
    .MoreBtn {
      margin-top: 235px !important; 
    }
    .stickyBox{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 260vh;
      margin-bottom: 200px;
    }
}

@media (max-width:1024px) {
  .w1500{
      width: 90% !important;
      margin: 0 auto;
  }
  .flex{
    display: block !important;
  }
  .sticky2{height:680px; top:115px;}
  .slide{display: block; margin-top: 50px;}
  .programAticle {
    width:100%;
  }
  .MoreBtn {margin-top: 635px;}
  .stickyBox{height: 350vh; }
  .fontSize20_p{
    word-wrap: break-word;
    margin-bottom: 20px;
  }
  .title_h1 {font-size: calc(100vw * (80/1500));}
  .title_h2 {margin-top: 20px; font-size: calc(100vw * (30/1024));}
}
@media (max-width:820px) {
  
  .w1500{
      width: 90% !important;
      margin: 0 auto;
    
  }
}
@media (max-width:480px) {
      .w1500{
      width: 90% !important;
      margin: 0 auto;
  }
}


