.section3{
    /* padding: 250px 0 190px; */
    /* width: 100%; */
    height: 500vh;
    /* overflow: hidden; */
}
.sticky {
    position: sticky;
    /* top: 190px; */
    top: 0;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    top: 50%;
    transform: translateY(-10%);
    justify-content: center;
    /* overflow: hidden; */
}
.sticky>h1{
    font-size: 80px;
    font-weight: 900;
    width: 100%;
    display: flex;  
    /* height: 80%; */
    /* height: 100%; */
}

.eventWrap{
    position: absolute;
    width: 100%;
    /* height: 25vw; */
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    margin: 0 auto; */
    overflow: hidden;
}

.event{
    width: 24%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    transform: 
    perspective(100vw)
    /* translateX(100vw)  */
    /* rotateY(180deg) */
    ;
    transition: transform 0.1s;
}

.front,.back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
}

.front1 {
    background: url(../img/event1.jpg) no-repeat;
    background-size: cover;
}
.front2 {
    background: url(../img/event2.jpg) no-repeat;
    background-size: cover;
}
.front3 {
    background: url(../img/event3.png) no-repeat;
    background-size: cover;
}
.front4 {
    background: url(../img/event4.jpg) no-repeat;
    background-size: cover;
}

.back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    font-size: 16px;
    line-height: 1.5;
    /* background-image: url('../img/event2.jpg');
    background-size: contain;
    background-repeat: no-repeat; */
}
.event:active{
    transform: rotateY(180deg);
}
