.flex {
  display: flex;
  justify-content: space-between;
}

.section2 {
  width: 100%;
  margin: 0 auto;
}
.sec2Padding {
  padding: 15.625rem 0rem 11.875rem 0rem;
}

.programH1{
  margin-top: 0 !important;
  font-size: 5rem;
  font-weight: 700;
}

.programH2{
  margin-top: 8.125rem;
  font-size: 2.5rem;
  font-weight: 700;
}


.section2Aticle {
  display: flex;
  flex-direction: column;
  width: 50%;
}

p {
  display: block;
  font-size: 1.25rem;
}

.section2Aticle p:first-of-type {
  margin-top: 1.25rem;
}

.section2Aticle p {
  margin-top: 0.625rem;
}


.programMoreBtn {
  position: relative;
  width: 12.5rem;
  height: 3.75rem;
  margin-top: 24.625rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 3.75rem;
  overflow: hidden;
  cursor: pointer;
  z-index: 9999;

}
.programMoreBtn:after {
  position: absolute;
  content: '';
  top: calc(50% - 3.125rem);
  left: -3.125rem;
  width: 1.25rem;
  height: 6.25rem;
  background: rgba(255, 255, 255, 1);
  transform: rotate(30deg);
  transition: 1000ms;
  opacity: 0;
}

.programMoreBtn:hover:after {
  left: calc(100% + 3.125rem);
  opacity: 1;
}

.programImgbox {
  width: 100%;
}

.programImgbox img{
  width: 100%;
  height: 33.375rem;
}

.bannerArrow {
  padding: 2.1875rem 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  background-size: contain;
}

.rollingBanner {
  display: flex;
  width: 200%;
  white-space: nowrap;
  height: 7.5rem;
  line-height: 7.25rem;
  background-color: yellow;
  animation: infiniteAnimation1 30s linear 0s infinite normal;
}
.Clone{
  animation: infiniteAnimation2  30s linear 0s infinite normal;
}
@keyframes infiniteAnimation1 {
  0% {
      transform: translateX(0%);
  }
  50% {
      transform: translateX(-100%);
  }
  50.1% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0%);
  }
}
@keyframes infiniteAnimation2 {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-200%);
  }
}
.bannerWrap{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.banner{
      display: flex;
      padding: 0, 20px;
}
.bannerTxtWhite {
  font-size: 2.1875rem;
  font-weight: bold;
  margin-right: 3.125rem;
}

.bannerTxtBlack {
  font-size: 2.1875rem;
  font-weight: bold;
  color: #000;
  margin-right: 3.125rem;
}
.slideBox{
  position: absolute;
  top:0;
}

.stickyBox{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 225vh;
  margin-bottom: 12.5rem;
}
.sticky2{
  position: sticky;
  height: 33.375rem;
  top:12.5rem;
  overflow: hidden;
}

.up1{
  transition: 1.5s ease;
  transform: translateY(-25%);
}
.up2{
  transition: 1.5s ease;
  transform: translateY(-50%);
}
.up3{
  transition: 1.5s ease;
  transform: translateY(-75%);
}
.down1{
  transition: 1.5s ease;
  transform: translateY(-50%);
}
.down2{
  transition: 1.5s ease;
  transform: translateY(-25%);
}
.down3{
  transition: 1.5s ease;
  transform: translateY(0%);
}


@media (max-width: 1500px){
  .section2 { width: 90%; }
  .programH1 {font-size: calc(100vw * (80/1500));}
  .programH2 {font-size: calc(100vw * (40/1500));}
  
}