body {font-family:'Roboto' ,'Noto Sans KR', 'sans-serif';}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100; 
  src: local('Noto Sans KR'),
   url(./fonts/NotoSansKR-Thin.woff) format('woff');	
        unicode-range: U+AC00-D7A3	;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300; 
  src:  
  local('Noto Sans KR'),
  url(./fonts/NotoSansKR-Light.woff) format('woff');	
        unicode-range:U+AC00-D7A3;	
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400; 
  src: 
  local('Noto Sans KR'),
   url(./fonts/NotoSansKR-Regular.woff) format('woff');	
        unicode-range:U+AC00-D7A3;	
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500; 
  src:   local('Noto Sans KR'),
  url(./fonts/NotoSansKR-Medium.woff) format('woff');	
        unicode-range:U+AC00-D7A3;	
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700; 
  src:  local('Noto Sans KR'),
   url(./fonts/NotoSansKR-Bold.woff) format('woff');	
        unicode-range:U+AC00-D7A3;	
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src:local('Roboto'),
   url('./fonts/Roboto-Regular.woff') format('woff');
  unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300; 
  src:
  local('Roboto'),  
  url(./fonts/Roboto-Light.woff) format('woff');	
        unicode-range:U+0041-005A, U+0061-007A;	
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400; 
  src:  local('Roboto'),
  url(./fonts/Roboto-Regular.woff) format('woff');	
        unicode-range:U+0041-005A, U+0061-007A;	
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500; 
  src:  local('Roboto'),
  url(./fonts/Roboto-Medium.woff) format('woff');	
        unicode-range:U+0041-005A, U+0061-007A;	
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700; 
  src:  local('Roboto'),
  url(./fonts/Roboto-Bold.woff) format('woff');	
        unicode-range:U+0041-005A, U+0061-007A;	
}
*{
  color: #fff;
  box-sizing: border-box;
  margin: 0; padding: 0;
  text-decoration: none;
  
}
canvas{
  position: relative;
  width: 100%;
  height: 100vh ;
  z-index: -90;
}
#skySection{
  position: fixed;
  width: 100%;
  height : 160vh;
  background-color: #061018;
  z-index: -100;
}
.palace{
  position: absolute;
  background:radial-gradient(circle farthest-corner at center top, rgba(255, 255, 255, 0.3),rgba(236, 255, 66, 0.1),rgba(236, 255, 66, 0.1),rgb(3, 14, 61,0.2), rgb(0, 1, 56,0.1), rgb(0, 0, 0,0.1),rgb(0, 0, 0,0.1));
  top:0;
  left: 0;
  width: 100%;
  height: 160vh;
  overflow: hidden;
  z-index: 1;
}
.test{
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
}
.main{
  position: relative;
}
.loadingScreen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.loadingImg{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  z-index: 999;
}
.loadingContent{
  width: 500px;
  height: 400px;
  align-items: center;
}
.loadingText {
  margin-top: 100px;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  color: rgba(0,0,0,0.01);
}
.loadingText::before {
  width: 100%;height: 130%;
  content: 'Loading';
  position: absolute;
  display: block;
  overflow: hidden;
  color: #fff;
  animation: loadingSlide 2.5s steps(100) infinite;
}
@keyframes loadingSlide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@media (max-width:1520px) {
  .w1500{
      width: 90%;
  }
}
@media (max-width:480px) {
  .loadingContent{
    width: 100%;
  }
  .loadingText{
    font-size: calc(100vw * (80 / 480));
  }
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  */



/* 공통  */
.w1500{
  width: 1500px;
  margin: 0 auto;
}
.marginTop100px{
  margin-top: 100px;
}
.marginTop150px{
  margin-top: 150px;
}
.marginTop190pxW100per{
  width: 100%;
  margin-top: 190px;
}

.marginTop390px{
  margin-top: 390px !important;
}
.marginBottom50px{
  margin-bottom: 50px;
}
.w50per{
  width:50% !important;
}
.flex {
  display: flex;
 justify-content: space-between;
}
.z-index99{
  z-index: 99;
}

/* 텍스트 */
.title_h1{
  font-size: 80px;
  font-weight: 900;
}
.title_h2{
  font-size: 40px;
  font-weight: 700;
}
.fontSize18_p{
  font-size: 18px;
  margin-bottom: 10px;
}
.fontSize20_p{
  font-size: 20px;
  margin-bottom: 10px;
}

/* 버튼 */
.MoreBtn{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 60px;
  margin-top: 40px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 24px;
  font-weight: 100;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.MoreBtn:after{
  position: absolute;
  content: '';
  top: calc(50% - 50px);
  left: -50px;
  width: 20px;
  height: 100px;
  background: rgba(255, 255, 255, 1);
  transform: rotate(30deg);
  transition: 500ms;
  opacity: 0;
}
.MoreBtn:hover:after {
  left: calc(100% + 50px);
  opacity: 1;
}



.notiSubHeader{
  position: relative;
  padding: 100px 0px 50px 0px;
  margin: 0 auto;
  text-align: center;
  
}
.notiSubHeader::after{
  position: absolute;
  width: 150%;
  bottom: 0;
  left: -200px;
  content: "";
  border-bottom: 1px solid #888;
}
 .notiSubHeader>img{
    width: 300px;
    height: 200px;
    background-size:cover;
 }
 .notiSubHeader>h2{
    margin-top: 50px;
    font-size: 40px; 
    text-align: center;
 }

.notiSubHeaderBtns{
  position: relative;
  width: 425px;
  height: 65px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 90px;
  border-radius: 50px;
  border: 2px solid white;

}
.notiSubHeaderBtns > ul{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.notiSubHeaderBtns > ul li{
  width: 140px;
  height: 61px;
  font-size: 18px;
  padding: 20px 30px;
  cursor: pointer;
}

.on{
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}